@page
@model ASP.NETCore.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LaraTechnology[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaraTechnology[0].Joining_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaraTechnology[0].Course_Taken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaraTechnology[0].Amount_Paid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LaraTechnology) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Joining_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course_Taken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount_Paid)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
